@font-face {
    src: url(Nunito-Light.ttf);
}

@font-face {
    src: url(Nunito-Regular.ttf);
}

.root * {
    -fx-font-family: "Nunito Light";
}

#background {
    -fx-background-color: white;
}

Button {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
    -fx-font-size: 20px;
}

Button:hover {
    -fx-background-color: dimgrey;
    -fx-border-color: dimgrey;
    -fx-text-fill: white;
}

Button:pressed {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-text-fill: white;
}

ColorButton {
    -fx-font-size: 20px;
}

.choice-box {
    -fx-background-color: lightgrey;
    -fx-cursor: hand;
}

.choice-box:hover {
    -fx-background-color: dimgrey;
    -fx-mark-color: white;
}

.choice-box:hover > .label {
    -fx-text-fill: white;
}

.choice-box:pressed {
    -fx-background-color: black;
    -fx-mark-color: white;
}

.choice-box:pressed > .label {
    -fx-text-fill: white;
}

.choice-box .context-menu {
    -fx-cursor: hand;
}

.choice-box .menu-item {
    -fx-mark-color: dimgrey;
}

.choice-box .menu-item:focused {
    -fx-background-color: dimgrey;
}

.check-box {
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.check-box .box {
    -fx-background-color: lightgrey;
}

.check-box:hover .box {
    -fx-background-color: dimgrey;
}

.check-box:hover .mark {
    -fx-background-color: white;
    visibility: hidden;
}

.check-box:selected .mark {
    visibility: visible;
}

.check-box:pressed .box {
    -fx-background-color: black;
}

.check-box:pressed .mark {
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: lightgrey;
    -fx-border-color: black;
    -fx-border-radius: 7px;
}

.slider .thumb:hover {
    -fx-background-color: dimgrey;
}

.slider .thumb:pressed {
    -fx-background-color: black;
}

.slider .track {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 7px;
    -fx-pref-height: 17px;
}

.progress-bar .track {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
    -fx-border-radius: 3px;
}

.progress-bar .bar {
    -fx-background-color: darkgrey;
    -fx-border-color: darkgrey;
    -fx-progress-color: darkgrey;
    -fx-border-radius: 3px;
    -fx-background-insets: 0px;
    -fx-padding: 2px;
}